* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --cor-modoclaro: white;
  --fundoclaro: url(imagens/Fundoroxoazul.jpg);
  --fundobotao: rgba(255, 255, 255, 0.1);
  --mousemove: rgba(136, 122, 122, 0.05);
  --switch1: url(./moon.svg);
  --face-color: rgba(255, 255, 255, 0.1);
  --stroke-color: rgba(255, 255, 255, 0.5);
}

.modoclaro {
  --cor-modoclaro: black;
  --fundoclaro: url(imagens/Fundoclaro.jpg);
  --fundobotao: rgba(150, 136, 136, 0.1);
  --mousemove: rgba(231, 14, 14, 0.05);
  --switch1: url(./sun.svg);
}

body {
  background-image: var(--fundoclaro);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--cor-modoclaro);
}

#container {
  width: 360px;

  margin: auto;
  padding-top: 50px;
}

#perfil {
  text-align: center;
}

#perfil img {
  width: 100px;
  display: block;
  margin: auto;
}

#perfil p {
  color: var(--cor-modoclaro);
  margin-top: 12px;
  font-weight: 500;
}

#switch {
  width: 64px;
  position: relative;
  margin: 30px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background-image: var(--switch1);
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.modoclaro #switch button {
  right: 0;
  left: initial;
}

#switch span {
  width: 64px;
  height: 24px;

  display: block;

  background: var(--face-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
}

/* Lista */

ul {
  list-style: none;
  padding: 15px 15px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px;
  margin: 12px;

  background: var(--fundobotao);
  border: 1px solid var(--cor-modoclaro);
  border-radius: 10px;

  color: var(--cor-modoclaro);
  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  background: var(--mousemove);
  border: 1.5px solid rgb(228, 216, 216);
}

/* links sociais */
#icon-links {
  font-size: 24px;
  display: flex;
  justify-content: right;
  gap: 12px;
  padding: 30px;
}

#icon-links a {
  color: var(--cor-modoclaro);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.2s;
}

#icon-links a:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}
